@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #b26e63;
  --color-secondary: 270722;
}

a.active {
  color: #b26e63;
}

a.pending {
  color: #b26e63;
}

.font-logo {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.font-body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
